<html>
   <body>
    <p style="text-align:center;">Please Login here</p>
        </br></br></br></br>
        <div style="text-align:center;">
        <form action="/login" method="POST" style="text-align:center;">
            <table style="text-align:center;">
                <tr>
                    <td>UserName : - </td>
                    <td><input type="text" name="username" placeholder="enter your username"/></td>
                </tr>
                <tr>
                    <td>Password : - </td>
                    <td><input type="password" name="password" placeholder="enter your password"/></td>
                </tr>
                <tr>
                    <td><a href="/registerPage">Register here!!</a></td>
                    <td><button>Login</button></td>
                </tr>
            </table>
        </form>
        </div>
   </body>
</html>