<html>
   <body>
    <p style="text-align:center;">Please register here</p>
        </br></br></br></br>
        <div style="text-align:center;">
        <form action="/register" method="POST" style="text-align:center;">
            <table style="text-align:center;">
                <tr>
                    <td>UserName* : - </td>
                    <td><input type="text" name="username" placeholder="enter your username" required/></td>
                </tr>
                <tr>
                    <td>Password* : - </td>
                    <td><input type="password" name="password" placeholder="enter your password" required/></td>
                </tr>
                <tr>
                    <td>Name : - </td>
                    <td><input type="text" name="name" placeholder="enter your name"/></td>
                </tr>
                <tr>
                    <td>Email* : - </td>
                    <td><input type="email" name="email" placeholder="enter your email" required/></td>
                </tr>
                <tr>
                    <td>Phone No : - </td>
                    <td><input type="number" name="phno" placeholder="enter your PhoneNumber"/></td>
                </tr>
                <tr>
                    <td>Address* : - </td>
                    <td><input type="text" name="add" placeholder="enter your address" required/></td>
                </tr>
                <tr>
                    <td colspan="2"><button>submit</button></td>
                </tr>
            </table>
        </form>
    </div>
   </body>
</html>